/**
 * tilePuzzle.css
 */
.tiles {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.tiles li {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 0 10px #000000;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.in-play li {
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
.tiles li:hover {
    opacity: 0.7;
}
.tiles :last-child {
    display: none;
}
.tiles :last-child:hover{
    opacity: 0;
}
